
<form action='/data' method='GET' class='mb-4'>
    <div class="form-group">
        <label for='id'>ID of playlist</label>
        <input type="text" name='id' class="form-control">
    </div>

    <input type="submit" value="Get Data" class="btn btn-primary btn-block">
</form>